In [ ]:
a = "hello"
print(a)

hello

In [ ]:
#Q1.Write a code to create a string with your name and print iT.
name = "noorain wakil"
print(name)

noorain wakil

In [ ]:
#Q.2  Write a code to find the length of the string "Hello World"
a = "Hello World"
print(len(a))

11

In [ ]:
#Q3.Write a code to slice the first 3 characters from the string "Python Programming"
a = "python programming"
print(a[0:3])

pyt

In [ ]:
#Q4. Write a code to convert the string "hello" to uppercase
a = "hello"
uppercased = a.upper()
print(uppercased)

HELLO

In [ ]:
#Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = " I like apple."
replaced_string = a.replace("apple","orange")
print(replaced_string)

 I like orange

In [ ]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.
a = list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]
a = [1,2,3,4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [ ]:
#Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a = [1,2,3,4,5]
a.pop(2)
a

[1, 2, 4, 5]

In [ ]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a','b','c','d']
for i in list:
    print(list[1])
    break

b

In [ ]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
number = [10,20,30,40,50]
reversed_list = number[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
#Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple  = ('red','green','blue','yellow')
print(my_tuple[-2])

blue

In [ ]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10,20,5,15)
min_number = min(my_tuple)
print(min_number)

5

In [ ]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animal = ("dog","cat","rabbit")
index_of_cat = animal.index("cat")
print(index_of_cat)

1

In [ ]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango',"kiwi")

if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

In [ ]:
#Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a','b','c'}
print(my_set)

{'c', 'a', 'b'}

In [ ]:
#Q17.. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
#Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers= {1, 2, 3, 4, 5}
element= 4
if element in numbers:
  numbers.remove(element)
  print(f"{element} removed sucessfully")
else:
  print("element not in set")

print("updated set",numbers)

4 removed sucessfully
updated set {1, 2, 3, 5}

In [ ]:
#Q9. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2

print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [ ]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {2,3,4}
new_set = s1 & s2
print(new_set)

{2, 3}

In [ ]:
#Q 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name" : "noorain", "age" : "21", "city" : "bihar"}

In [ ]:
d['name']

'noorain'

In [ ]:
d['age']

'21'

In [ ]:
d['city']

'bihar'

In [ ]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d
d1 = {"country" : "ds"}
d.update(d1)

In [ ]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
d['name']

'Alice'

In [ ]:
#Q24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
d

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
d.get('city')

'Paris'

In [ ]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [ 1,3,"noorain",3+4j, "true"]
my_tuple = (2,4,82,2)
my_dict = {"name": "faizan", "age": "21", "address": "bihar"}
my_list

[1, 3, 'noorain', (3+4j), 'true']

In [ ]:
my_tuple

(2, 4, 82, 2)

In [ ]:
my_dict

{'name': 'faizan', 'age': '21', 'address': 'bihar'}

In [ ]:
#Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced) just explain not give the code
import random
numbers = []
for i in range(5):
  num = random.randint(1,100)
  numbers.append(num)
numbers.sort()
print(numbers)

[1, 20, 43, 53, 71]

In [ ]:
#Q28. Write a code to create a list with strings and print the element at the third index.
# create a list with strings
fruits = ["apple", "banana", "cherry", "mango", "orange"]
for i in range(len(fruits)):
    if i == 3:
        print("Element at index 3:", fruits[i])

Element at index 3: mango

In [ ]:
#Q29. Write a code to combine two dictionaries into one and print the result
# create two dictionaries
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [ ]:
#Q 30. Write a code to convert a list of strings into a set.
my_list = ["apple","banana",11,"true"]
s = set(my_list)
s

{11, 'apple', 'banana', 'true'}

Q1.What are data structures?

- Data structures are just ways of storing and arranging data in a computer so that we can use it easily and quickly.

Example:

- If you have a list of names, you might keep them in a list/array.

- If you want to check who came first in a line, you’d use a queue.

- If you want “last thing first” (like undo in Word), you’d use a stack.

Why are they important?

- Because the way you organize data changes how fast your program runs.

- Looking up a phone number in a messy notebook takes time.

Same idea in programming:

If you pick the wrong structure → program is slow.

If you pick the right one → program is fast and efficient.

#Q2. Explain the difference between mutable and immutable data types with examples
- Mutable Example: List
numbers = [1, 2, 3]
print("Before:", numbers)
print("Memory address (id):", id(numbers))

numbers.append(4)
print("After:", numbers)
print("Memory address (id):", id(numbers))  # same as before
# Immutable Example: String
name = "Faizan"  
print("Before:", name)  
print("Memory address (id):", id(name))

name = name + " Khan"  
print("After:", name)  
print("Memory address (id):", id(name))

#Q3  What are the main differences between lists and tuples in Python
- Difference between List and Tuple in Python

- List → Changeable (Mutable), written with []

- Tuple → Not Changeable (Immutable), written with ()

# List (can change)
a = [1, 2, 3]
a[0] = 10   # works
print(a)    # [10, 2, 3]

# Tuple (cannot change)
b = (1, 2, 3)
b[0] = 10   # Error

#Q4 How Dictionaries Store Data in Python

- A dictionary in Python stores data as key–value pairs.

- Key → like a label (must be unique and immutable, e.g., string, number, tuple).

- Value → the data associated with that key (can be anything).

Example:

student = {
    "name": "Faizan",
    "age": 21,
    "course": "B.Tech"
}


Here:

"name", "age", "course" are keys.

"Faizan", 21, "B.Tech" are values.

How Python actually stores it

Internally, dictionaries use a hash table.

- When you create a dictionary:

Python takes the key (say "name")

Applies a hash function to it → produces a number (hash value).

That hash value decides where in memory the value ("Faizan") will be stored.

This makes lookup very fast.

student["name"] can be found almost instantly using the hash value.

#Q5. Why use a Set instead of a List in Python?

- No Duplicates Allowed

- A set automatically removes duplicate elements.

numbers = [1, 2, 2, 3, 3, 3]
print(list(set(numbers)))  # [1, 2, 3]


- Faster Lookups

Checking if an item exists in a set is much faster than in a list, because sets use hash tables internally.

nums_list = [1, 2, 3, 4, 5]
nums_set = {1, 2, 3, 4, 5}

print(3 in nums_list)  # slower
print(3 in nums_set)   # faster


- Set Operations (Mathematical)

Sets let you do union, intersection, difference easily. Lists don’t.

a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))        
print(a.intersection(b))   
print(a.difference(b))

#Q6 What is a String in Python?

- A string is a sequence of characters enclosed in quotes (' ' or " ").

Example:

text = "Hello"

- Difference between String and List
# String example
s = "hello"
print(s[0])              

- # List example
lst = [1, 2, 3, 4]
print(lst[0])      
lst[0] = 10        
print(lst)

#Q7 How Tuples Ensure Data Integrity in Python

- Immutability (Cannot Change)

- Once a tuple is created, its contents cannot be modified (no adding, removing, or changing elements).

- This ensures that the data stays safe and constant throughout the program.

- t = (1, 2, 3)
# t[0] = 10  


- Prevents Accidental Changes

- Because you cannot alter a tuple, it avoids bugs where data gets changed unexpectedly in the program.

- Example: if you pass a tuple of configuration values into a function, you can be sure the function won’t change them.

- Safe to Use as Dictionary Keys / Set Elements

- Since tuples are immutable, they can be hashed and used as keys in a dictionary or elements in a set (lists cannot).

- This ensures consistent lookups.

- coords = {(10, 20): "point A", (30, 40): "point B"}
print(coords[(10, 20)])  # point A


- Predictable and Reliable Data

- Tuples are often used when the data should remain fixed (like dates, RGB colors, geographic coordinates).

- This makes them reliable containers for values that represent a single, unchangeable record.

- Quick Example
# Student record as a tuple
student = ("Faizan", 21, "B.Tech")

- print(student[0])  
# student[1] = 22

#Q8 What is a Hash Table?

A hash table is a data structure that stores data in key–value pairs.

- It uses a hash function to convert a key into a number (called a hash).

- That hash decides where in memory the value is stored.

- This makes finding values very fast (on average O(1) time)

How Dictionaries Use Hash Tables in Python

- A dictionary in Python is implemented using a hash table.

- When you do:
student = {"name": "Faizan", "age": 21}
Internally, Python:

- Takes the key "name".

- Runs it through a hash function → produces a hash value (a number).

- Uses that hash value to decide where "Faizan" should be stored in memory.

- Later, when you do student["name"], Python:

- Hashes the key "name" again.

- student = {"name": "Faizan", "age": 21}

print(student["name"])  # Quick lookup using hash table
print(student["age"])

#Q9. Can lists contain different data types in Python?
- mixed_list = [10, "Hello", 3.14, True, [1, 2, 3]]

print(mixed_list)
print(type(mixed_list[0]))  # int
print(type(mixed_list[1]))  # str
print(type(mixed_list[2]))  # float
print(type(mixed_list[3]))  # bool
print(type(mixed_list[4]))  # list

#Q10 Why are Strings Immutable in Python?

Memory Efficiency (String Interning)

- Python often reuses string objects with the same value to save memory.

Example:

a = "hello"
b = "hello"
print(id(a), id(b))  # same memory address


- If strings were mutable, changing a would also change b, which would be unsafe.

Hashing and Dictionary Keys

- Strings are often used as keys in dictionaries (which rely on hashing).

- If strings could change, their hash values would also change → making dictionary lookups unreliable.

Example:

student = {"name": "Faizan"}

Thread-Safety

- Since strings can’t change, they are safe to share between multiple parts of a program (or threads) without worrying that one part will accidentally modify the data for another.

- Simplicity and Reliability

- Immutable strings prevent accidental modification.

Example:

text = "Python"
text[0] = "J"

#Q11 Advantages of dictionaries over lists:

- Fast lookups using keys (O(1)) vs searching through list (O(n)).

- Key–value mapping, not just positional indexes.

- Unique keys ensure no duplicates.

- More readable when data is identified by names instead of positions.

- Flexible values: can store any type against a key.

#Q12. Scenario where a tuple is preferable over a list:
A tuple is preferred when the data is fixed and should not change. For example, storing a student’s date of birth:

dob = (2002, 5, 17)

#Q13. How do sets handle duplicate values in Python?
- Sets in Python automatically remove duplicate values and only keep unique elements. When you try to insert a duplicate, the set checks internally using hashing and ignores the repeated value instead of storing it again.

nums = {1, 2, 2, 3, 3, 3}                   
print(nums)

#Q14. How does the “in” keyword work differently for lists and dictionaries?

Answer:

- In lists, the in keyword checks whether a value exists in the list.

- In dictionaries, the in keyword checks whether a key exists in the dictionary (not the value).

Example with list:

nums = [10, 20, 30]         
print(20 in nums)   
print(50 in nums)   

Example with dictionary:

student = {"name": "Faizan", "age": 21}
print("name" in student)   
print("Faizan" in student)

#Q15 Can you modify the elements of a tuple? Explain why or why not?

No, you cannot modify the elements of a tuple in Python.

- Reason:
Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed. This immutability ensures data integrity and makes tuples safe for use as dictionary keys or in situations where constant data is required.

Example:

t = (1, 2, 3)           
t[0] = 10

#Q16 What is a nested dictionary, and give an example of its use case
ChatGPT said:

Answer:
A nested dictionary is a dictionary that contains another dictionary as its value. It is used to represent hierarchical or structured data.

students = {
    "101": {"name": "Faizan", "age": 21, "course": "CS"},
    "102": {"name": "Sahiba", "age": 22, "course": "IT"}
}

print(students["101"]["name"])

#Q17. Describe the time complexity of accessing elements in a dictionary
ChatGPT said:

Answer:
- Accessing elements in a dictionary has an average time complexity of O(1) because dictionaries in Python use a hash table internally. The key is hashed to find the location of the value directly.

However, in the worst case (when many keys hash to the same location → hash collisions), the time complexity can degrade to O(n).

Average case: O(1)       
Worst case: O(n)

#Q18 Why are dictionaries considered unordered, and how does that affect data retrieval
Answer:

- Dictionaries are considered unordered because their elements are stored based on hashing of keys, not by the order in which they are inserted. The storage position of each key–value pair depends on the hash function, so the physical arrangement is unpredictable.

Effect on data retrieval:

- You cannot rely on the position/index of elements.

- Retrieval must be done using the key, not by numeric index like lists.

Example:

d = {"a": 1, "b": 2, "c": 3}  
print(d["b"])  
print(d[1])

#Q20 Explain the difference between a list and a dictionary in terms of data retrieval
Answer:

- List: Data is retrieved using a numeric index (position).

- nums = [10, 20, 30]
print(nums[1])   # Output: 20 (index-based access)


- Dictionary: Data is retrieved using a key (not position).

- student = {"name": "Faizan", "age": 21}
print(student["name"])